// Roboto Regular

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face{
  font-family: "Galien-Bold";
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/Galien-Bold.woff2') format('woff2'), url('../assets/fonts/Galien-Bold.woff') format('woff')
}
@font-face{
  font-family: "Galien-light";
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Galien-light.woff2') format('woff2'), url('../assets/fonts/Galien-light.woff') format('woff')
}
@font-face{
  font-family: "Gilroy-Light";
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Gilroy-Light.woff2') format('woff2'), url('../assets/fonts/Gilroy-Light.woff') format('woff')
}
@font-face{
  font-family: "Gilroy-ExtraBold";
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/Gilroy-ExtraBold.woff') format('woff')
}
@font-face{
  font-family: "Gilroy-UltraLight";
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Gilroy-UltraLight.woff') format('woff')
}
@font-face{
  font-family: "Galien-Regular";
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/Galien-Regular.woff2') format('woff2'), url('../assets/fonts/Galien-Regular.woff') format('woff')
}

