@media (max-width: 1290px){
    
   
}
@media (max-width: 1300px) {
    .footer-container--inner_3{
        width: 1200px;
    }
    .footer-container--inner_3-container{
     margin: 100px 100px 0px 113px;
    }
   
    
}
@media (max-width: 1210px) {
    .footer-container--inner_3{
        width: 1100px;
       
    }
    .footer{
        width: 1100px; 
    }
    .beloved-client-And-footer{
        
    }
    .copyRight-item {
       
        bottom: 115px;
        
    }
    .line-container{
        width: 800px;
       
    }
    .footer-container--inner_3-container{
        margin: 50px 50px 0px 53px;
    
    }
    .button-margin {
        margin-top: 50px;
        margin-right: 57px;
    }
   
    
}
@media (max-width: 1140px) {
    .footer-container--inner_3{
        width: 1000px;
    }
    .footer{
        width: 1000px; 
        height: 350px;
    }
    .copyRight-item{
        bottom: 10px;
    }
    .footer-container-nav:first-child {
        margin-left: 54px;
        margin-right: 50px;
    }
}
@media (max-width: 1025px) {
    .beloved-client-And-footer {
        
    }
    .footer-container--blocks {
        flex-direction: column;
    }
    .footer-container--block{
        border: 1px solid white;
    }
    .footer-container--block:last-child {
        border: 1px solid white;
    }
   
    .footer-container--inner_2{
        flex-direction: row;
    }
    .footer-container--inner_1{
        margin: 40px 53px 50px 53px
    }
    .button-margin {
        margin-top: 10px;
        margin-right: 17px;
    }
    .inner-3-container {
        margin: 10px 10px 0px 13px;
    }
    .footer-container--inner_3{
        width: 830px;

    }
    .footer{
        width: 830px; 
    }
    .line-container{
        width: 600px;
       
    }
}
@media (max-width: 850px) {
    
    .footer-container--inner_3{
        width: 800px;
    }
    .footer-container--inner_3-container{
        margin: 30px 30px 0px 30px;
    }
    .footer{
        width: 800px; 
        height: 350px;
    }

}
@media (max-width: 794px) {
    .media{
        flex-direction: column;
        align-items: center;
        
    }
    .button-container {
        margin: 20px 50px 0px 0px;

    }

    .footer-container--inner_3{
        width: 700px;
    }
    .footer{
        width: 730px; 
        height: 350px;
        justify-content: flex-start;
        margin: 0 1px;
    }
    .footer-container--footer {
        display: flex;
        height: 350px;
        width: 730px;
        
    }
    .footer-container-nav:first-child {
        margin-left: 0px;
    
    }
    .footer-container-nav:last-child {
        margin-left: 0px;
        margin-right: 0px;
    }
    .line-container{
        width: 450px;
        bottom: 350px;
    }
    
    
    .content-inner_3 {
        width: 700px;
        display: flex;
        justify-content: column;
    }

}
@media (max-width: 760px) {
    
}
@media (max-width: 717px) {
    .footer-container--inner_3 {
        margin-top: 10px;
        width: 600px;
    }
    
    .footer-container--inner_3-container{
        width: 400px;
    }
    
    .content-inner_3-sub-title{
        width: 390px;
    }
    .footer{
        width: 500px;
        height: 300px;  
    }
    .footer-container-nav{
        width: 200px;
        height: 300px;
    }
    .list-li-style{
        width: 200px;
    }
    .copyRight-item{
        bottom: -50px;
        right: 100px;
    }
}
@media (max-width: 696px) {
    .footer-container-nav:first-child{
        margin: 0px;
    }
    .footer-container-body{
        width: 400px;
        text-align: left;
    }
.footer{
    width: 300px;
    height: 800px;
    flex-direction: column;
    margin: 0 auto;
    
    justify-content: center;
}

    .beloved-client-And-footer {
        height: 2600px;
        background-color: #316099;
    }
    
    .footer-container--inner_1{
        margin: 20px 23px 20px 23px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-inner_1-heading {
        width: 303px;
        margin: 20px 40px;
    }
    .content-inner_1-sub-title {
        width: 340px;
    }
    .footer-container--inner_2 {
        flex-direction: column;
    }
    .footer-container-nav{
        margin: 10px auto;
    }
    .footer-container-nav:last-child{
        margin: 0 auto;
    }
    .copyRight-item {
        bottom: -50px;
        right: 25px;
    }


}
@media(max-width:491px){
    .media{
        width: 400px;
        margin: 0 50px;
    }
    .footer-container-body-width {
        margin-top: 20px;
        width: 350px;
    }
    .footer{
        margin: 0 50px;
    }
    .beloved-client-And-footer {
        height: 2720px;
        
    }
    .footer-container--blocks {
        width: 200px;
        margin-right: 100px;
    }
    .content-inner_1-heading {
        width: 217px;
        margin: 20px 20px;
    }
}
@media(max-width: 390px){
    .footer-container--header{
        margin-left: 35px;
        width: 215px;
        text-align: center;
    }

    .footer-container-body{
        width: 250px;
        text-align: left;
    }
    .media{
        height: 449px;
        width: 300px;
        margin: 0 50px;
        justify-content: space-between;
    }
    .footer-container--inner_3-container {
        width: 300px;
    }
    .button-container {
        margin-bottom: 35px;
        height: 70px;
        width: 250px;
    }
    .line-container{
        width: 300px;
    }
    .footer{
        margin: 0 10px;
    }
    .footer-container-body-width {
        margin-top: 20px;
        width: 300px;
    }
    .content-inner_1-sub-title {
        width: 300px;
    }
    .content-inner_1-heading {
        width: 214px;
        margin: 15px 15px;
    }
    .copyRight-item {
        bottom: -60px;
        right: -10px;
    }
    
}
@media(max-width: 357px){
    .media{
        width: 230px;
        margin: 0 50px;
    }
    .footer{
        align-items: center;
    }
    .item-list-li {
        padding: 0px;
    }
    .footer-container--item{
        padding: 0px;
    }
    .list-li-style:first-child{
        width: 190px;
    }
    .list-li-style{
        width: 190px;
    }
    
    
}