@media (max-width: 1300px) {

}

@media (max-width: 990px) {
  
    .main-container{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center

    }
    .card-container-header {
        
        width: 358px;
        margin: 0px 0px 0px 50px;
    }
    .card {
        width: 683px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0px 20px 20px;
    }
    .main-content--inner--item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: 57px;
       
       
    }
    .main-content--inner--item-right {
        margin-left: 90px;
    }
    .card {
        margin-left: 90px;
    }
       
}


@media (max-width: 420px) {
    .card {
        width: 683px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0px 10px 10px;
    }
    .card-container-header{
        margin: 0px 20px 0px 20px;
        text-align: center;
    }
    
}
@media(max-width: 350px){
    .card-container-header{
        width: 299px;
    }
.card-container--title{
    font-size: 34px;
    

}
}
